.user-detail-container {
    height: calc(100vh - 280px);
    margin-top: 30px;
    overflow-y: auto; 
    padding: 15px 0;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.user-image {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 12px;
}

.user-name {
    font-size: 20px;
    font-weight: 600;
    color: #0b1330;
    margin: 0;
}

.conversation-text {
    font-size: 15px;
    color: #777;
    margin-top: 10px;
    max-width: 80%;
}

.chat-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}

.message {
    max-width: 70%;
    padding: 10px 15px;
    border-radius: 20px;
    display: inline-block;
    word-wrap: break-word;
}

.message.incoming {
    background-color: #d3d0d0;
    align-self: flex-start;
    border-top-left-radius: 0;
}

.message.outgoing {
    background-color: rgb(2, 150, 2);
    color: white;
    align-self: flex-end;
    border-top-right-radius: 0;
}

.message .time {
    display: block;
    font-size: 10px;
    margin-top: 5px;
    text-align: right;
}
