<div class="app-wrapper">
  <app-header></app-header>
  <div class="app-container">
    <app-navbar (pageChange)="onPageChange($event)"></app-navbar>

    <!-- Show chats only on messages page -->
    <app-chats *ngIf="currentPage === 'messages'"></app-chats>

    <div class="main-content">
      <app-body *ngIf="currentPage === 'messages'"></app-body>
      
      <!-- Settings page content -->
      <div *ngIf="currentPage === 'settings'">
        <h2>Settings Page</h2> 
      </div>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
